<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dogs For Adoption</title>
</head>
<body>
<h1>Lista de Dogs</h1>
<hr>

<table>
    <thead>
    <tr>
        <th> Nome</th>
        <th> Raça </th>
        <th> Idade </th>
        <th> Porte </th>
        <th> Humor </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dog:${dogs}">
        <td th:text="${dog.nome}">Nome</td>
        <td th:text="${dog.type}">Raça</td>
        <td th:text="${dog.age}">Idade</td>
        <td th:text="${dog.size}">Tamanho</td>
        <td th:text="${dog.mood}">Humor</td>
    </tr>
    </tbody>
</table>
</body>
</html>